
body{
	margin: 0;
}

#header{
	height: auto;
	width: 100%;
}

.navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #43BFC7;
}

.navbar li{
	float: left;
}

.navbar a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
}

.navbar a:hover{
	background-color: #F75D59;
}

.post_title{
	height: 100px;
	width: 100%;
	text-align: center;
	line-height: 100px;
	font-size: 30px;
}

.post_outline{
	max-width: 800px;
	margin: 0 auto;
	font-size: 16px;
}

.post_outline a{
	color: #43BFC7;
	text-decoration: none;
}

.post_outline a:hover{
	color: black;
}

.post_content{
	max-width: 800px;
	margin: 0 auto;
	font-size: 16px;
}

.post_content .image {
	text-align: center;
}

.post_content .section_title{
	text-align: center;
	font-size: 20px;
}

.post_content .module{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}